*
{
	font-family: "Century Gothic";
	color: white;
}

html
{
	min-height: 100%;
	background-repeat: no-repeat;
	background-image: linear-gradient(purple,blue);
}

#site_header
{
	text-align: center;
	background-image: linear-gradient(lightblue,blue);
	border: solid #9932CC 10px;
	border-radius: 20px;
}

nav
{
	text-align: right;
    justify-content: space-between;
}

footer
{
	background-image: linear-gradient(lightblue,blue);
	bottom: 0;
	min-width: 100%;
	position: fixed;
           
}

#connect_header, #park_status
{
	border: solid white 3px;
	border-radius: 10px;
	width: max-content;
	padding:10px;
	
	margin-top: 10px;
	margin-left: 10px;
	background-image: linear-gradient(lightblue,blue);

}

#status_bar
{
	display:flex;
	padding:10px;
}

body
{
	text-align:center;
}

a
{
	text-decoration: none;
	background-image: linear-gradient(lightblue,blue);
	border: solid white 3px;
	border-radius: 10px;
	width: max-content;
	padding: 10px;
}

#input
{
	padding: 10px;
}

input, select
{
	color: black;
}

div
{
	padding: 5px;
}

table
{
	border: solid black 3px;
	width:600px;
	justify-content:center;
}

#first_th
{	
	background-image: linear-gradient(white,black);
}

input[type="submit"], input[type="button"]
{
	width:250px;
	height:50px;
	font-size:15pt;
	margin: auto;
	
	box-shadow: 10px 10px 5px;
}

#error_line
{
	background-color: red;
	text-align: center;
	display:none;
}